<!-- Header -->
<header class="navbar main-header">
  <a class="navbar-brand" href="index.html">
    Runa
  </a>

  <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user_name %></a>
      <ul class="dropdown-menu">
        <li><a href="#" id="logout"><i class="fa fa-share"></i> Salir</a></li>
      </ul>
    </li>
  </ul>
</header>


<div class="sidebar sidebar-left">
  <div class="content">
    <div class="tab-content sidetabs">
      <div class="tab-pane active" id="home">
        <ul class="sidemenu">
          <li class="active">
            <a href="index.html">
              <span class="icon"><i class="fa fa-dashboard"></i></span>
              <span class="name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#entrada-salida" id="entrada_salida">
              <span class="icon"><i class="fa fa-chain"></i></span>
              <span class="name">Entrada-Salida</span>

            </a>

          </li>
          <li>
            <a href="#" id="reportes">
              <span class="icon"><i class="fa fa-bar-chart-o"></i></span>
              <span class="name">Reportes</span>
            </a>
          </li>
          <li>
            <a href="#usuarios" id="load_users">
              <span class="icon"><i class="fa fa-user"></i></span>
              <span class="name">Usuarios</span>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Header -->

<section id="main-wrapper">
  <h3 class="subtitle">Dashboard</h3>
  <hr/>
 <div class="dashboard_content">
    <div class="row">
      <div class="col-sm-3">

        <div class="easypiechart" id="chart1" data-percent="0">
          <div class="text" ><span id="chart1_text">0 </span><h4>Asistencia Hoy</h4></div>
        </div>

      </div>
      <div class="col-sm-3">

        <div class="easypiechart" id="chart2" data-percent="0">
          <div class="text"><span id="chart2_text">0 </span><h4>Registros Completados</h4></div>
        </div>
      </div>

      <div class="col-sm-3">

        <div class="easypiechart" id="chart3" data-percent="0">
          <div class="text"><span id="chart3_text">0</span> <h4>Registros No cerrados</h4></div>
        </div>

      </div>

      <div class="col-sm-3">

        <div class="tile purple-tile">
          <div class="main-icon">
            <i class="fa fa-calendar"></i>
          </div>
          <h4 class="white date-widget">loading...</h4>
        </div>

        <div class="tile green-tile">
          <div class="main-icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <h4 class="white time-widget">loading...</h4>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id='spline-chart'></div>
      </div>


    </div><!-- row-->


 </div>


</section>

<script>
  $(function(){
      loadCharts();
      $("#load_users").click(loadUsers);
      $("#entrada_salida").click(loadLoginLogoutView);
      $('#logout').click(removeUserToken);
      $("#reportes").click(generateReportView);
  })
</script>

